# Exploracion Inicial

Librerias necesarias

In [1]:
import pandas as pd
import dill
import numpy as np

Abrimos el archivo

In [2]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")

Cargamos los pipelines

In [3]:
pipeline_1=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_1.pkl" , 'rb'))
pipeline_2=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_2.pkl" , 'rb'))
pipeline_3=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_3.pkl" , 'rb'))
pipeline_4=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_4.pkl" , 'rb'))
pipeline_5=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_5.pkl" , 'rb'))

In [4]:
#df1=pipeline_1(df)
#df2=pipeline_2(df)
#df3=pipeline_3(df)
#df4=pipeline_4(df)
#df5=pipeline_5(df)

Visualizamos los datos

In [5]:
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar
0,561205,ferd,1,1,4,3,2
1,528569,ferd,4,3,1,2,4
2,408550,NaN,2,4,1,4,2
3,208451,NaN,1,1,4,1,4
4,394115,ferd,2,4,1,3,4
5,243530,fait,2,1,3,1,2
6,288203,NaN,3,3,4,2,2
7,991981,ferd,3,3,2,1,2
8,435094,chepy,2,1,1,4,3
9,417848,fait,4,3,1,4,4

Definimos como imputar los valores faltantes en los datos iniciales.

In [6]:
df["antiguedad_vehiculo"]=df["antiguedad_vehiculo"].fillna(1)
df["tipo_poliza"]=df["tipo_poliza"].fillna(1)
df["taller"]=df["taller"].fillna(1)
df["partes_a_reparar"]=df["partes_a_reparar"].fillna(3)
df["partes_a_reemplazar"]=df["partes_a_reemplazar"].fillna(1)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar
0,561205,ferd,1,1,4,3,2
1,528569,ferd,4,3,1,2,4
2,408550,NaN,2,4,1,4,2
3,208451,NaN,1,1,4,1,4
4,394115,ferd,2,4,1,3,4
5,243530,fait,2,1,3,1,2
6,288203,NaN,3,3,4,2,2
7,991981,ferd,3,3,2,1,2
8,435094,chepy,2,1,1,4,3
9,417848,fait,4,3,1,4,4

Visualizamos el funcionamiento de cada pipeline

In [7]:
df1=pipeline_1(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas
0,561205,ferd,1,1,4,3,2,5
1,528569,ferd,4,3,1,2,4,6
2,408550,NaN,2,4,1,4,2,6
3,208451,NaN,1,1,4,1,4,5
4,394115,ferd,2,4,1,3,4,7
5,243530,fait,2,1,3,1,2,3
6,288203,NaN,3,3,4,2,2,4
7,991981,ferd,3,3,2,1,2,3
8,435094,chepy,2,1,1,4,3,7
9,417848,fait,4,3,1,4,4,8

Pipeline 1 calcula el total de piezas que necesitan alguna mantención

In [8]:
df2=pipeline_2(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas
0,561205,ferd,1,1,4,3,2,5,1.609438
1,528569,ferd,4,3,1,2,4,6,1.791759
2,408550,NaN,2,4,1,4,2,6,1.791759
3,208451,NaN,1,1,4,1,4,5,1.609438
4,394115,ferd,2,4,1,3,4,7,1.945910
5,243530,fait,2,1,3,1,2,3,1.098612
6,288203,NaN,3,3,4,2,2,4,1.386294
7,991981,ferd,3,3,2,1,2,3,1.098612
8,435094,chepy,2,1,1,4,3,7,1.945910
9,417848,fait,4,3,1,4,4,8,2.079442

Pipeline 2 Genera la columna "log_total_piezas" a partir de "total_piezas" obtenido por pipeline 1

In [9]:
df["log_total_piezas"]=df["log_total_piezas"].fillna(1.4545)

Se define la imputación correspondiente

In [10]:
df3=pipeline_3(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0
2,408550,NaN,2,4,1,4,2,6,1.791759,NaN
3,208451,NaN,1,1,4,1,4,5,1.609438,NaN
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0
5,243530,fait,2,1,3,1,2,3,1.098612,2.0
6,288203,NaN,3,3,4,2,2,4,1.386294,NaN
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0
9,417848,fait,4,3,1,4,4,8,2.079442,2.0

Pipeline 3 es independiente a 1 y 2, codifica la marca de los autos.

In [11]:
df["marca_vehiculo_encoded"]=df["marca_vehiculo_encoded"].fillna(int(0))
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0
5,243530,fait,2,1,3,1,2,3,1.098612,2.0
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0
9,417848,fait,4,3,1,4,4,8,2.079442,2.0

Se define la imputación correspondiente

In [12]:
df4=pipeline_4(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,NaN,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,NaN,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,NaN,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50

Pipeline 4 define el valor del vehiculo y el valor por pieza, este pipeline depende del pipeline 2

In [13]:
df["valor_vehiculo"]=df["valor_vehiculo"].fillna(3560)
df["valor_por_pieza"]=df["valor_por_pieza"].fillna(150)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,3560.0,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,3560.0,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,3560.0,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50

Se definen las imputaciones correspondientes

In [14]:
df5=pipeline_5(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza,reclamos_por_marca,reclamos_por_taller
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300,NaN,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50,NaN,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,3560.0,50,NaN,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,3560.0,300,NaN,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50,NaN,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200,NaN,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,3560.0,300,NaN,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100,NaN,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50,NaN,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50,NaN,50

Pipeline 5 crea las variables reclamos por marca y reclamos por taller, "reclamos_por_marca" parece estar diempre definido como nan mientras que "reclamos_por_taller" parece copiar la columna de "valor_por_pieza".

A continuacion probamos las dependencias de los pipelines

In [15]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")
df=pipeline_1(df)
df=pipeline_2(df)
df=pipeline_4(df)

KeyError: 'marca_vehiculo_encoded'

Notamos que pipeline_4 depende tambien del pipeline 3 porque requiere la columna "marca_vehiculo_encoded"

In [16]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")
df=pipeline_3(df)
df=pipeline_5(df)

Las dependencias entre el pipeline 3 y 5 parecen funcionar correctamente

# Primera resolucion del problema

librerias necesarias

In [17]:
import dill
import numpy as np
import pandas as pd

In [18]:
args={"dir":"C:/Users/tomas/Desktop/Desafio-MLE/", "sep":"|", "data":"claims_dataset.csv"} #Se define args como una libreria con variables claves

df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"]) #Se abre el archivo con los requests

df["antiguedad_vehiculo"]=df["antiguedad_vehiculo"].fillna(1)
df["tipo_poliza"]=df["tipo_poliza"].fillna(1)
df["taller"]=df["taller"].fillna(1)
df["partes_a_reparar"]=df["partes_a_reparar"].fillna(3)
df["partes_a_reemplazar"]=df["partes_a_reemplazar"].fillna(1)
#imputamos los datos iniciales, la idea es inputarlos al comienzo por si los pipelines se ven afectados por la ausencia de algun dato.


pipeline=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))
df=pipeline(df)
pipeline=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))
df=pipeline(df)
df["log_total_piezas"]=df["log_total_piezas"].fillna(1.4545)
pipeline=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))
df=pipeline(df)
df["marca_vehiculo_encoded"]=df["marca_vehiculo_encoded"].fillna(0).astype("int64")
pipeline=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))
df=pipeline(df)
df["valor_vehiculo"]=df["valor_vehiculo"].fillna(3560).astype("int64")
df["valor_por_pieza"]=df["valor_por_pieza"].fillna(150)
pipeline=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))
df=pipeline(df)
#Aplicamos los pipelines e imputamos donde corresponda, podemos ver que solo estamos imputando en orden, sin optimizar ningun proceso.


index = np.where(df["tipo_poliza"].values == 4)[0]
#definimos los indices de los request con "tipo_poliza"=4 para no ejecutar el modulo predictivo en ellos, ya que el cliente solicito un trato especial.

data_modelo=df.drop(index)[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
#Ejecutamos el modelo predictivo solo con las columnas y requests necesarios.

results=model.predict(data_modelo)
for i in index:
    results=np.insert(results,i,-1)
results
#agregamos los valores  de los casos especiales y mostramos los resultados de las prediciones.

array([ 4.38408432,  2.94900912, -1.        ,  6.16557582, -1.        ,
        6.04471015,  5.75581344,  4.81765249,  4.98156999,  3.23150361])

Este codigo inicial permite entender un poco el proceso de los pipelines, imputaciones, la aplicacion del modelo predictivo y la entrega de resultados. Permitiendonos entrar en detalle en la optimizacion y el desarrollo del codigo oficial.

# Resolucion con request independientes

Librerias necesarias

In [19]:
import os
import time
import dill
import numpy as np
import pandas as pd

Abrimos el documento inicialmente y comenzamos a trabajar los requests de forma individual

In [20]:
args={"dir":"C:/Users/tomas/Desktop/Desafio-MLE/", "sep":"|", "data":"claims_dataset.csv"}
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])

Para eso iteramos en cada fila del dataframe e intentamos definir el algoritmo como un proceso iterable.

In [21]:
start = time.time() #Usamos time, para medir el tiempo de ejecucion del codigo
for index, row in df.iterrows(): #Iteramos en las filas del dataframe
    data=pd.DataFrame(row).transpose()
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})
    #dejamos cada fila como un dataframe con una unica fila y asignamos los tipos correspondientes de las columnas.
    if pd.isna(data["antiguedad_vehiculo"].values):
        data["antiguedad_vehiculo"]=1
    if pd.isna(data["tipo_poliza"].values):
        data["tipo_poliza"]=1
    if pd.isna(data["taller"].values):
        data["taller"]=1
    if pd.isna(data["partes_a_reparar"].values):
        data["partes_a_reparar"]=3
    if pd.isna(data["partes_a_reemplazar"].values):
        data["partes_a_reemplazar"]=1
    #inputamos los valores nulos o faltantes de los datos iniciales

    
    data=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))(data)
    data=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))(data)
    data["log_total_piezas"]=data["log_total_piezas"].fillna(1.4545)
    data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
    data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
    data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
    data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
    data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
    data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
    #Ejecutamos los pipelines y las imputaciones de igual manera que el codigo anterior.

    
    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    #En caso de que el "tipo_poliza" sea distinto de 4, ejecutamos el modelo predictivo, en caso contrario, asignamos -1 como resultado por la  condicion del cliente
    data["Semanas_en_el_taller"]=results
    #Guardamos el resultado de la predicion en una nueva columna llamada "Semanas_en_el_taller".
    if os.path.exists(args["dir"]+"Log.csv"): #chequeamos la existencia de un archivo "Log.csv" para no sobreescribir el resultado del request
        result_df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
        result_df=result_df._append(data, ignore_index=True)
        result_df.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
        # En caso de existir el archivo, este se abre, se actualiza y vuelve a guardarse.
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
        # En caso de no existir, se crea el archivo con los datos obtenidos.


end = time.time()
print("It took", end - start, "seconds!") #se mide el tiempo de ejecucion del codigo.

It took 120.19322848320007 seconds!

# Resolucion con Procesos en Paralelo

In [ ]:
import os
import json
import dill
import time
import subprocess
import numpy as np
import pandas as pd


with open("args.json", "r") as file:
    args = json.load(file)
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])
#Se utiliza un archivo "args.json" para almacenar y leer los argumentos necesarios y se lee el archivo.


start = time.time()
for index, row in df.iterrows(): #Comienza la iteracion por fila
    data=pd.DataFrame(row).transpose()
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})  
    data.to_csv(args["dir"]+"Dataframe_1.csv", index=False, sep = args["sep"])
    #Se guarda un archivo csv con la informacion de la fila correspondiente.

    subprocess.Popen(['python', args["dir"]+'Pipeline_1_2.py'])
    subprocess.Popen(['python', args["dir"]+'Pipeline_3_5.py'])
    #Comienzan 2 procesos en paralelo, el primero lee el csv recien creado y le aplica los pipelines 1 y 2, el segundo aplica los pipelines 3 y 5.
    #Ambos procesos son independientes y generan un csv con los datos tratados.
    
    
    flag=True  
    while flag==True:
        if os.path.exists(args["dir"]+"Dataframe_2.csv") and os.path.exists(args["dir"]+"Dataframe_3.csv"):
            flag=False
    #se espera a que ambos subprocesos generen los archivos correspondientes para poder continuar con el codigo.

    Dataframe_2=pd.read_csv(args["dir"]+"Dataframe_2.csv",sep = args["sep"])
    Dataframe_3=pd.read_csv(args["dir"]+"Dataframe_3.csv",sep = args["sep"])
    data=Dataframe_2.merge(Dataframe_3, how='outer')
    #Abrimos ambos archivos y los conmbinamos en un unico dataframe con la informacion generada por los pipelines 1,2,3 y 5.
    #Como el pipeline 4 depende tanto del 2 como del 3, se decicio ejecutarlo al final para aprovechar el procesamiento en paralelo.
    
    data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
    data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
    data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
    #Se ejecuta el ultimo pipeline y se inputan los valores correspondientes
    

    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    data["Semanas_en_el_taller"]=results
    if os.path.exists(args["dir"]+"Log.csv"):
        result_df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
        result_df=result_df._append(data, ignore_index=True)
        result_df.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])

    #se continua al igual que el codigo anterior, pero  se eliminan los dataframes auxiliares que se usaron para los procesos en paralelo
    os.remove(args["dir"]+"Dataframe_1.csv")
    os.remove(args["dir"]+"Dataframe_2.csv")
    os.remove(args["dir"]+"Dataframe_3.csv")
    
    
end = time.time()
print("It took", end - start, "seconds!")

Notamos que el tiempo total se redujo. El subproceso de los pipelines 3 y 5 es considerablemente mas lento que el de los pipelines 1 y 2, pero el pipeline 4 no podria ejecutarse antes de que terminen ambos.