# Exploración Inicial

Librerías necesarias

In [1]:
import pandas as pd
import dill
import numpy as np

Abrimos el archivo

In [2]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")

Cargamos los pipelines

In [3]:
pipeline_1=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_1.pkl" , 'rb'))
pipeline_2=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_2.pkl" , 'rb'))
pipeline_3=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_3.pkl" , 'rb'))
pipeline_4=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_4.pkl" , 'rb'))
pipeline_5=dill.load(open("C:/Users/tomas/Desktop/Desafio-MLE/pipeline_5.pkl" , 'rb'))

Visualizamos los datos

In [5]:
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar
0,561205,ferd,1,1,4,3,2
1,528569,ferd,4,3,1,2,4
2,408550,NaN,2,4,1,4,2
3,208451,NaN,1,1,4,1,4
4,394115,ferd,2,4,1,3,4
5,243530,fait,2,1,3,1,2
6,288203,NaN,3,3,4,2,2
7,991981,ferd,3,3,2,1,2
8,435094,chepy,2,1,1,4,3
9,417848,fait,4,3,1,4,4

Definimos como imputar los valores faltantes en los datos iniciales.

In [6]:
df["antiguedad_vehiculo"]=df["antiguedad_vehiculo"].fillna(1)
df["tipo_poliza"]=df["tipo_poliza"].fillna(1)
df["taller"]=df["taller"].fillna(1)
df["partes_a_reparar"]=df["partes_a_reparar"].fillna(3)
df["partes_a_reemplazar"]=df["partes_a_reemplazar"].fillna(1)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar
0,561205,ferd,1,1,4,3,2
1,528569,ferd,4,3,1,2,4
2,408550,NaN,2,4,1,4,2
3,208451,NaN,1,1,4,1,4
4,394115,ferd,2,4,1,3,4
5,243530,fait,2,1,3,1,2
6,288203,NaN,3,3,4,2,2
7,991981,ferd,3,3,2,1,2
8,435094,chepy,2,1,1,4,3
9,417848,fait,4,3,1,4,4

Visualizamos el funcionamiento de cada pipeline

In [7]:
df1=pipeline_1(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas
0,561205,ferd,1,1,4,3,2,5
1,528569,ferd,4,3,1,2,4,6
2,408550,NaN,2,4,1,4,2,6
3,208451,NaN,1,1,4,1,4,5
4,394115,ferd,2,4,1,3,4,7
5,243530,fait,2,1,3,1,2,3
6,288203,NaN,3,3,4,2,2,4
7,991981,ferd,3,3,2,1,2,3
8,435094,chepy,2,1,1,4,3,7
9,417848,fait,4,3,1,4,4,8

Pipeline 1 calcula el total de piezas que necesitan alguna mantención

In [8]:
df2=pipeline_2(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas
0,561205,ferd,1,1,4,3,2,5,1.609438
1,528569,ferd,4,3,1,2,4,6,1.791759
2,408550,NaN,2,4,1,4,2,6,1.791759
3,208451,NaN,1,1,4,1,4,5,1.609438
4,394115,ferd,2,4,1,3,4,7,1.945910
5,243530,fait,2,1,3,1,2,3,1.098612
6,288203,NaN,3,3,4,2,2,4,1.386294
7,991981,ferd,3,3,2,1,2,3,1.098612
8,435094,chepy,2,1,1,4,3,7,1.945910
9,417848,fait,4,3,1,4,4,8,2.079442

Pipeline 2 Genera la columna "log_total_piezas" a partir de "total_piezas" obtenido por pipeline 1

In [9]:
df["log_total_piezas"]=df["log_total_piezas"].fillna(1.4545)

Se define la imputación correspondiente

In [10]:
df3=pipeline_3(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0
2,408550,NaN,2,4,1,4,2,6,1.791759,NaN
3,208451,NaN,1,1,4,1,4,5,1.609438,NaN
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0
5,243530,fait,2,1,3,1,2,3,1.098612,2.0
6,288203,NaN,3,3,4,2,2,4,1.386294,NaN
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0
9,417848,fait,4,3,1,4,4,8,2.079442,2.0

Pipeline 3 es independiente a 1 y 2, codifica la marca de los autos.

In [11]:
df["marca_vehiculo_encoded"]=df["marca_vehiculo_encoded"].fillna(int(0))
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0
5,243530,fait,2,1,3,1,2,3,1.098612,2.0
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0
9,417848,fait,4,3,1,4,4,8,2.079442,2.0

Se define la imputación correspondiente

In [12]:
df4=pipeline_4(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,NaN,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,NaN,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,NaN,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50

Pipeline 4 define el valor del vehículo y el valor por pieza, este pipeline depende del pipeline 2

In [13]:
df["valor_vehiculo"]=df["valor_vehiculo"].fillna(3560)
df["valor_por_pieza"]=df["valor_por_pieza"].fillna(150)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,3560.0,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,3560.0,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,3560.0,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50

Se definen las imputaciones correspondientes

In [14]:
df5=pipeline_5(df)
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza,reclamos_por_marca,reclamos_por_taller
0,561205,ferd,1,1,4,3,2,5,1.609438,3.0,8540.0,300,NaN,300
1,528569,ferd,4,3,1,2,4,6,1.791759,3.0,8540.0,50,NaN,50
2,408550,NaN,2,4,1,4,2,6,1.791759,0.0,3560.0,50,NaN,50
3,208451,NaN,1,1,4,1,4,5,1.609438,0.0,3560.0,300,NaN,300
4,394115,ferd,2,4,1,3,4,7,1.945910,3.0,8540.0,50,NaN,50
5,243530,fait,2,1,3,1,2,3,1.098612,2.0,2950.0,200,NaN,200
6,288203,NaN,3,3,4,2,2,4,1.386294,0.0,3560.0,300,NaN,300
7,991981,ferd,3,3,2,1,2,3,1.098612,3.0,8540.0,100,NaN,100
8,435094,chepy,2,1,1,4,3,7,1.945910,1.0,1500.0,50,NaN,50
9,417848,fait,4,3,1,4,4,8,2.079442,2.0,2950.0,50,NaN,50

Pipeline 5 crea las variables reclamos por marca y reclamos por taller, "reclamos_por_marca" parece estar siempre definido como nan mientras que "reclamos_por_taller" parece copiar la columna de "valor_por_pieza".

A continuación, probamos las dependencias de los pipelines

In [15]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")
df=pipeline_1(df)
df=pipeline_2(df)
df=pipeline_4(df)

KeyError: 'marca_vehiculo_encoded'

Notamos que pipeline_4 depende también del pipeline 3 porque requiere la columna "marca_vehiculo_encoded"

In [16]:
df=pd.read_csv("C:/Users/tomas/Desktop/Desafio-MLE/claims_dataset.csv",sep = "|")
df=pipeline_3(df)
df=pipeline_5(df)

Las dependencias entre el pipeline 3 y 5 parecen funcionar correctamente

# Primera resolución del problema

librerías necesarias

In [17]:
import dill
import numpy as np
import pandas as pd

In [18]:
args={"dir":"C:/Users/tomas/Desktop/Desafio-MLE/", "sep":"|", "data":"claims_dataset.csv"} #Se define args como una librería con variables claves

df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"]) #Se abre el archivo con los requests

df["antiguedad_vehiculo"]=df["antiguedad_vehiculo"].fillna(1)
df["tipo_poliza"]=df["tipo_poliza"].fillna(1)
df["taller"]=df["taller"].fillna(1)
df["partes_a_reparar"]=df["partes_a_reparar"].fillna(3)
df["partes_a_reemplazar"]=df["partes_a_reemplazar"].fillna(1)
#imputamos los datos iniciales, la idea es imputarlos al comienzo por si los pipelines se ven afectados por la ausencia de algún dato.


pipeline=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))
df=pipeline(df)
pipeline=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))
df=pipeline(df)
df["log_total_piezas"]=df["log_total_piezas"].fillna(1.4545)
pipeline=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))
df=pipeline(df)
df["marca_vehiculo_encoded"]=df["marca_vehiculo_encoded"].fillna(0).astype("int64")
pipeline=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))
df=pipeline(df)
df["valor_vehiculo"]=df["valor_vehiculo"].fillna(3560).astype("int64")
df["valor_por_pieza"]=df["valor_por_pieza"].fillna(150)
pipeline=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))
df=pipeline(df)
#Aplicamos los pipelines e imputamos donde corresponda, podemos ver que solo estamos imputando en orden, sin optimizar ningún proceso.


index = np.where(df["tipo_poliza"].values == 4)[0]
#definimos los índices de los request con "tipo_poliza"=4 para no ejecutar el modelo predictivo en ellos, ya que el cliente solicito un trato especial.

data_modelo=df.drop(index)[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
#Ejecutamos el modelo predictivo solo con las columnas y requests necesarios.

results=model.predict(data_modelo)
for i in index:
    results=np.insert(results,i,-1)
results
#agregamos los valores de los casos especiales y mostramos los resultados de las predicciones.

array([ 4.38408432,  2.94900912, -1.        ,  6.16557582, -1.        ,
        6.04471015,  5.75581344,  4.81765249,  4.98156999,  3.23150361])

Este código inicial permite entender un poco el proceso de los pipelines, imputaciones, la aplicación del modelo predictivo y la entrega de resultados. Permitiéndonos entrar en detalle en la optimización y el desarrollo del código oficial.

# Resolución con request independientes

Librerías necesarias

In [19]:
import os
import time
import dill
import numpy as np
import pandas as pd

Abrimos el documento inicialmente y comenzamos a trabajar los requests de forma individual

In [20]:
args={"dir":"C:/Users/tomas/Desktop/Desafio-MLE/", "sep":"|", "data":"claims_dataset.csv"}
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])

Para eso iteramos en cada fila del DataFrame e intentamos definir el algoritmo como un proceso iterable.

In [21]:
start = time.time() #Usamos time, para medir el tiempo de ejecución del código
for index, row in df.iterrows(): #Iteramos en las filas del DataFrame
    data=pd.DataFrame(row).transpose()
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})
    #dejamos cada fila como un DataFrame con una única fila y asignamos los tipos correspondientes de las columnas.
    if pd.isna(data["antiguedad_vehiculo"].values):
        data["antiguedad_vehiculo"]=1
    if pd.isna(data["tipo_poliza"].values):
        data["tipo_poliza"]=1
    if pd.isna(data["taller"].values):
        data["taller"]=1
    if pd.isna(data["partes_a_reparar"].values):
        data["partes_a_reparar"]=3
    if pd.isna(data["partes_a_reemplazar"].values):
        data["partes_a_reemplazar"]=1
    #imputamos los valores nulos o faltantes de los datos iniciales

    
    data=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))(data)
    data=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))(data)
    data["log_total_piezas"]=data["log_total_piezas"].fillna(1.4545)
    data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
    data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
    data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
    data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
    data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
    data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
    #Ejecutamos los pipelines y las imputaciones de igual manera que el código anterior.

    
    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    #En caso de que el "tipo_poliza" sea distinto de 4, ejecutamos el modelo predictivo, en caso contrario, asignamos -1 como resultado por la condición del cliente
    data["Semanas_en_el_taller"]=results
    #Guardamos el resultado de la predicción en una nueva columna llamada "Semanas_en_el_taller".
    if os.path.exists(args["dir"]+"Log.csv"): #chequeamos la existencia de un archivo "Log.csv" para no sobrescribir el resultado del request
        result_df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
        result_df=result_df._append(data, ignore_index=True)
        result_df.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
        # En caso de existir el archivo, este se abre, se actualiza y vuelve a guardarse.
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
        # En caso de no existir, se crea el archivo con los datos obtenidos.


end = time.time()
print("It took", end - start, "seconds!") #se mide el tiempo de ejecución del código.

It took 120.17747044563293 seconds!

In [22]:
df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
os.remove(args["dir"]+"Log.csv")
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,valor_vehiculo,valor_por_pieza,reclamos_por_marca,reclamos_por_taller,Semanas_en_el_taller
0,561205,ferd,1,1,4,3,2,5,1.609438,3,8540,300,NaN,300,4.384084
1,528569,ferd,4,3,1,2,4,6,1.791759,3,8540,50,NaN,50,2.949009
2,408550,NaN,2,4,1,4,2,6,1.791759,0,3560,50,NaN,50,-1.000000
3,208451,NaN,1,1,4,1,4,5,1.609438,0,3560,300,NaN,300,6.165576
4,394115,ferd,2,4,1,3,4,7,1.945910,3,8540,50,NaN,50,-1.000000
5,243530,fait,2,1,3,1,2,3,1.098612,2,2950,200,NaN,200,6.044710
6,288203,NaN,3,3,4,2,2,4,1.386294,0,3560,300,NaN,300,5.755813
7,991981,ferd,3,3,2,1,2,3,1.098612,3,8540,100,NaN,100,4.817652
8,435094,chepy,2,1,1,4,3,7,1.945910,1,1500,50,NaN,50,4.981570
9,417848,fait,4,3,1,4,4,8,2.079442,2,2950,50,NaN,50,3.231504

# Resolución con Procesos en Paralelo

## Pipeline_1_2_antiguo

In [ ]:
import sys
import dill
import json
import pandas as pd
import numpy as np

with open("args.json", "r") as file:
    args = json.load(file)
    

data=pd.read_csv(args["dir"]+"Dataframe_1.csv",sep = args["sep"]) #se lee el DataFrame auxiliar que cuenta con una única fila del request

if pd.isna(data["antiguedad_vehiculo"].values):
    data["antiguedad_vehiculo"]=1
if pd.isna(data["tipo_poliza"].values):
    data["tipo_poliza"]=1
if pd.isna(data["taller"].values):
    data["taller"]=1
if pd.isna(data["partes_a_reparar"].values):
    data["partes_a_reparar"]=3
if pd.isna(data["partes_a_reemplazar"].values):
    data["partes_a_reemplazar"]=1

data=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))(data)
data=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))(data)
data["log_total_piezas"]=data["log_total_piezas"].fillna(1.4545)


#Se ejecutan los pipelines 1 y 2, luego se imputan los valores correspondientes.


data.to_csv(args["dir"]+"Dataframe_2.csv",sep = args["sep"], index=False) #finalmente se guarda otro archivo auxiliar "Dataframe_2.csv"

ya que "Pipeline_3_5_antiguo" es más lento que "Pipeline_1_2_antiguo", decidimos hacer la imputación de los datos básicos en esta instancia, intentando ahorrar tiempo.

## Pipeline_3_5_antiguo

In [ ]:
import sys
import dill
import json
import pandas as pd

with open("args.json", "r") as file:
    args = json.load(file)
    
data=pd.read_csv(args["dir"]+"Dataframe_1.csv",sep = args["sep"]) #se lee el DataFrame auxiliar que cuenta con una única fila del request


data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
#Se ejecutan los pipelines 3 y 5, luego se imputan los valores correspondientes.

data.to_csv(args["dir"]+"Dataframe_3.csv",sep = args["sep"], index=False) #finalmente se guarda otro archivo auxiliae "Dataframe_3.csv"

## Código

In [23]:
import os
import json
import dill
import time
import subprocess
import numpy as np
import pandas as pd


with open("args.json", "r") as file:
    args = json.load(file)
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])
#Se utiliza un archivo "args.json" para almacenar y leer los argumentos necesarios y se lee el archivo.


start = time.time()
for index, row in df.iterrows(): #Comienza la iteracion por fila
    data=pd.DataFrame(row).transpose()
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})  
    data.to_csv(args["dir"]+"Dataframe_1.csv", index=False, sep = args["sep"])
    #Se guarda un archivo csv con la informacion de la fila correspondiente.

    subprocess.Popen(['python', args["dir"]+'Pipeline_1_2_antiguo.py'])
    subprocess.Popen(['python', args["dir"]+'Pipeline_3_5_antiguo.py'])
    #Comienzan 2 procesos en paralelo, el primero lee el csv recien creado y le aplica los pipelines 1 y 2, el segundo aplica los pipelines 3 y 5.
    #Ambos procesos son independientes y generan un csv con los datos tratados.
    
    
    flag=True  
    while flag==True:
        if os.path.exists(args["dir"]+"Dataframe_2.csv") and os.path.exists(args["dir"]+"Dataframe_3.csv"):
            flag=False
    #se espera a que ambos subprocesos generen los archivos correspondientes para poder continuar con el codigo.

    Dataframe_2=pd.read_csv(args["dir"]+"Dataframe_2.csv",sep = args["sep"])
    Dataframe_3=pd.read_csv(args["dir"]+"Dataframe_3.csv",sep = args["sep"])
    data=Dataframe_2.merge(Dataframe_3, how='outer')
    #Abrimos ambos archivos y los conmbinamos en un unico dataframe con la informacion generada por los pipelines 1,2,3 y 5.
    #Como el pipeline 4 depende tanto del 2 como del 3, se decicio ejecutarlo al final para aprovechar el procesamiento en paralelo.
    
    data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
    data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
    data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
    #Se ejecuta el ultimo pipeline y se inputan los valores correspondientes
    

    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    data["Semanas_en_el_taller"]=results
    if os.path.exists(args["dir"]+"Log.csv"):
        result_df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
        result_df=result_df._append(data, ignore_index=True)
        result_df.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])

    #se continua al igual que el codigo anterior, pero  se eliminan los dataframes auxiliares que se usaron para los procesos en paralelo
    os.remove(args["dir"]+"Dataframe_1.csv")
    os.remove(args["dir"]+"Dataframe_2.csv")
    os.remove(args["dir"]+"Dataframe_3.csv")
    
    
end = time.time()
print("It took", end - start, "seconds!")

It took 105.97427892684937 seconds!

In [24]:
df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
os.remove(args["dir"]+"Log.csv")
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,reclamos_por_marca,reclamos_por_taller,valor_vehiculo,valor_por_pieza,Semanas_en_el_taller
0,561205,ferd,1,1,4,3,2,5,1.609438,3,NaN,300,8540,300,4.384084
1,528569,ferd,4,3,1,2,4,6,1.791759,3,NaN,50,8540,50,2.949009
2,408550,NaN,2,4,1,4,2,6,1.791759,0,NaN,50,3560,50,-1.000000
3,208451,NaN,1,1,4,1,4,5,1.609438,0,NaN,300,3560,300,6.165576
4,394115,ferd,2,4,1,3,4,7,1.945910,3,NaN,50,8540,50,-1.000000
5,243530,fait,2,1,3,1,2,3,1.098612,2,NaN,200,2950,200,6.044710
6,288203,NaN,3,3,4,2,2,4,1.386294,0,NaN,300,3560,300,5.755813
7,991981,ferd,3,3,2,1,2,3,1.098612,3,NaN,100,8540,100,4.817652
8,435094,chepy,2,1,1,4,3,7,1.945910,1,NaN,50,1500,50,4.981570
9,417848,fait,4,3,1,4,4,8,2.079442,2,NaN,50,2950,50,3.231504

Notamos que el tiempo total se redujo. El subproceso de los pipelines 3 y 5 es considerablemente más lento que el de los pipelines 1 y 2, pero el pipeline 4 no podría ejecutarse antes de que terminen ambos.

Este código funciona correctamente para solicitudes en serie, pero falla al hacer solicitudes simultaneas, ya que al guardar datos en csv con nombres fijos, el código intenta abrir y sobrescribir simultáneamente diferentes archivos. Para solucionar este inconveniente se generó otra versión del código

# Resolución con Procesos en Paralelo para solicitudes en paralelo

## Pipeline_1_2

In [ ]:
import sys
import dill
import json
import pandas as pd
import numpy as np

with open("args.json", "r") as file:
    args = json.load(file)
    
ID=sys.argv[1] #Se recibe el ID del request para evitar que se sobrescriban los archivos de forma incorrecta

data=pd.read_csv(args["dir"]+"Dataframe_1_"+ID+".csv",sep = args["sep"]) #Se abre el archivo guardado con el ID correspondiente

if pd.isna(data["antiguedad_vehiculo"].values):
    data["antiguedad_vehiculo"]=1
if pd.isna(data["tipo_poliza"].values):
    data["tipo_poliza"]=1
if pd.isna(data["taller"].values):
    data["taller"]=1
if pd.isna(data["partes_a_reparar"].values):
    data["partes_a_reparar"]=3
if pd.isna(data["partes_a_reemplazar"].values):
    data["partes_a_reemplazar"]=1

data=dill.load(open(args["dir"]+"pipeline_1.pkl" , 'rb'))(data)
data=dill.load(open(args["dir"]+"pipeline_2.pkl" , 'rb'))(data)
data["log_total_piezas"]=data["log_total_piezas"].fillna(1.4545)
#se procede como en "Pipeline_1_2_antiguo"
    

data.to_csv(args["dir"]+"Dataframe_2_"+ID+".csv",sep = args["sep"], index=False) #se guarda el archivo con el ID correspondiente

## Pipeline_3_5

In [ ]:
import sys
import dill
import json
import pandas as pd

with open("args.json", "r") as file:
    args = json.load(file)
    
ID=sys.argv[1] #Se recibe el ID del request para evitar que se sobrescriban los archivos de forma incorrecta

data=pd.read_csv(args["dir"]+"Dataframe_1_"+ID+".csv",sep = args["sep"]) #Se abre el archivo guardado con el ID correspondiente


data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
#se procede como en "Pipeline_3_5_antiguo"

data.to_csv(args["dir"]+"Dataframe_3_"+ID+".csv",sep = args["sep"], index=False) #se guarda el archivo con el ID correspondiente

## Código

In [25]:
import os
import json
import dill
import time
import subprocess
import numpy as np
import pandas as pd


with open("args.json", "r") as file:
    args = json.load(file)
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])
#Se utiliza un archivo "args.json" para almacenar y leer los argumentos necesarios y se lee el archivo.


start = time.time()
for index, row in df.iterrows(): #Comienza la iteracion por fila
    data=pd.DataFrame(row).transpose()
    ID=str(data["claim_id"].values[0]) #Se obtiene el id del request
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})  
    data.to_csv(args["dir"]+"Dataframe_1_"+ID+".csv", index=False, sep = args["sep"])
    #Se guarda un archivo csv con la informacion de la fila y el ID correspondiente.

    subprocess.Popen(['python', args["dir"]+'Pipeline_1_2.py', ID]) #se entrega el ID a los subprocesos
    subprocess.Popen(['python', args["dir"]+'Pipeline_3_5.py', ID]) #se entrega el ID a los subprocesos
    #Comienzan 2 procesos en paralelo, el primero lee el csv recien creado y le aplica los pipelines 1 y 2, el segundo aplica los pipelines 3 y 5.
    #Ambos procesos son independientes y generan un csv con los datos tratados.
    
    
    flag=True  
    while flag==True:
        if os.path.exists(args["dir"]+"Dataframe_2_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_3_"+ID+".csv"):
            flag=False
    #se espera a que ambos subprocesos generen los archivos correspondientes para poder continuar con el codigo.

    Dataframe_2=pd.read_csv(args["dir"]+"Dataframe_2_"+ID+".csv",sep = args["sep"])
    Dataframe_3=pd.read_csv(args["dir"]+"Dataframe_3_"+ID+".csv",sep = args["sep"])
    data=Dataframe_2.merge(Dataframe_3, how='outer')
    #Abrimos ambos archivos y los conmbinamos en un unico dataframe con la informacion generada por los pipelines 1,2,3 y 5.
    #Como el pipeline 4 depende tanto del 2 como del 3, se decicio ejecutarlo al final para aprovechar el procesamiento en paralelo.
    
    data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
    data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
    data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
    #Se ejecuta el ultimo pipeline y se inputan los valores correspondientes
    

    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    data["Semanas_en_el_taller"]=results
    if os.path.exists(args["dir"]+"Log.csv"):
        result_df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
        result_df=result_df._append(data, ignore_index=True)
        result_df.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])

    #se continua al igual que el codigo anterior, pero  se eliminan los dataframes auxiliares que se usaron para los procesos en paralelo
    os.remove(args["dir"]+"Dataframe_1_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_2_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_3_"+ID+".csv")
    
    
end = time.time()
print("It took", end - start, "seconds!")

It took 105.87551307678223 seconds!

In [26]:
df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
os.remove(args["dir"]+"Log.csv")
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,total_piezas,log_total_piezas,marca_vehiculo_encoded,reclamos_por_marca,reclamos_por_taller,valor_vehiculo,valor_por_pieza,Semanas_en_el_taller
0,561205,ferd,1,1,4,3,2,5,1.609438,3,NaN,300,8540,300,4.384084
1,528569,ferd,4,3,1,2,4,6,1.791759,3,NaN,50,8540,50,2.949009
2,408550,NaN,2,4,1,4,2,6,1.791759,0,NaN,50,3560,50,-1.000000
3,208451,NaN,1,1,4,1,4,5,1.609438,0,NaN,300,3560,300,6.165576
4,394115,ferd,2,4,1,3,4,7,1.945910,3,NaN,50,8540,50,-1.000000
5,243530,fait,2,1,3,1,2,3,1.098612,2,NaN,200,2950,200,6.044710
6,288203,NaN,3,3,4,2,2,4,1.386294,0,NaN,300,3560,300,5.755813
7,991981,ferd,3,3,2,1,2,3,1.098612,3,NaN,100,8540,100,4.817652
8,435094,chepy,2,1,1,4,3,7,1.945910,1,NaN,50,1500,50,4.981570
9,417848,fait,4,3,1,4,4,8,2.079442,2,NaN,50,2950,50,3.231504

Cambiando el nombre de los archivos con un ID único de la solicitud se soluciona el problema anterior.

Ya que el cuello de botella del código se encuentra en "Pipeline_3_5.py" se optó por cambiar el orden de los procesos paralelos

# Variación en procesos paralelos

# Pipeline_4

In [ ]:
import os
import sys
import dill
import json
import pandas as pd

with open("args.json", "r") as file:
    args = json.load(file)
    
ID=sys.argv[1] #Se recibe el ID del request para evitar que se sobrescriban los archivos de forma incorrecta

flag=True  
while flag==True:
    if os.path.exists(args["dir"]+"Dataframe_2_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_3_"+ID+".csv"):
        flag=False
#se espera a que se terminen los procesos correspondientes para que se generen los archivos necesarios para continuar

Dataframe_2=pd.read_csv(args["dir"]+"Dataframe_2_"+ID+".csv",sep = args["sep"])
Dataframe_3=pd.read_csv(args["dir"]+"Dataframe_3_"+ID+".csv",sep = args["sep"])
data=Dataframe_2.merge(Dataframe_3, how='outer')
# se abren y combinan los DataFrame con los procesos de los pipelines 1,2 y 3 realizados

data=dill.load(open(args["dir"]+"pipeline_4.pkl" , 'rb'))(data)
data["valor_vehiculo"]=data["valor_vehiculo"].fillna(3560).astype("int64")
data["valor_por_pieza"]=data["valor_por_pieza"].fillna(150)
# se aplica el pipeline 4 y las imputaciones correspondientes


data.to_csv(args["dir"]+"Dataframe_4_"+ID+".csv",sep = args["sep"], index=False) # se guarda el archivo auxiliar

## Código

In [27]:
import os
import json
import dill
import time
import subprocess
#import numpy as np
import pandas as pd
from csv import writer


with open("args.json", "r") as file:
    args = json.load(file)
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])

start = time.time()
for index, row in df.iterrows(): #se recorre el DataFrame
    data=pd.DataFrame(row).transpose()
    ID=str(data["claim_id"].values[0])
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})  
    data.to_csv(args["dir"]+"Dataframe_1_"+ID+".csv", index=False, sep = args["sep"])
    #se almacena el archivo con el request
    subprocess.Popen(['python', args["dir"]+'Pipeline_1_2.py', ID])
    #Comienza el subproceso con los pipelines 1 y 2
    data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
    data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
    #se ejecupa el pipeline 3 y se imputan los datos correspondientes
    data.to_csv(args["dir"]+"Dataframe_3_"+ID+".csv", index=False, sep = args["sep"])
    #se almacena un archivo auxiliar
    subprocess.Popen(['python', args["dir"]+'Pipeline_4.py', ID])
    #Comienza el segundo subproceso que ejecuta el pipeline 4
    data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
    #se ejecuta el pipeline 5
    flag=True  
    while flag==True:
        if (os.path.exists(args["dir"]+"Dataframe_2_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_3_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_4_"+ID+".csv")):
            flag=False
    #se espera a que estén listos todos los archivos necesarios
            

    Dataframe_4=pd.read_csv(args["dir"]+"Dataframe_4_"+ID+".csv",sep = args["sep"])
    data=data.merge(Dataframe_4, how='outer')
    #se abren los archivos correspondientes y se combinan, teniendo todos los pipelines ejecutados


    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    data["Semanas_en_el_taller"]=results
    if os.path.exists(args["dir"]+"Log.csv"):
        data.to_csv(args["dir"]+"Log.csv", mode="a", index=False, header=False, sep="|")
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
    os.remove(args["dir"]+"Dataframe_1_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_2_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_3_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_4_"+ID+".csv")
    #se finaliza el código de la misma forma que los anteriores
    
end = time.time()
print("It took", end - start, "seconds!")

It took 100.28193020820618 seconds!

In [28]:
df=pd.read_csv(args["dir"]+"Log.csv", sep = args["sep"])
os.remove(args["dir"]+"Log.csv")
df

,claim_id,marca_vehiculo,antiguedad_vehiculo,tipo_poliza,taller,partes_a_reparar,partes_a_reemplazar,marca_vehiculo_encoded,reclamos_por_marca,reclamos_por_taller,total_piezas,log_total_piezas,valor_vehiculo,valor_por_pieza,Semanas_en_el_taller
0,561205,ferd,1,1,4,3,2,3,NaN,300,5,1.609438,8540,300,4.384084
1,528569,ferd,4,3,1,2,4,3,NaN,50,6,1.791759,8540,50,2.949009
2,408550,NaN,2,4,1,4,2,0,NaN,50,6,1.791759,3560,50,-1.000000
3,208451,NaN,1,1,4,1,4,0,NaN,300,5,1.609438,3560,300,6.165576
4,394115,ferd,2,4,1,3,4,3,NaN,50,7,1.945910,8540,50,-1.000000
5,243530,fait,2,1,3,1,2,2,NaN,200,3,1.098612,2950,200,6.044710
6,288203,NaN,3,3,4,2,2,0,NaN,300,4,1.386294,3560,300,5.755813
7,991981,ferd,3,3,2,1,2,3,NaN,100,3,1.098612,8540,100,4.817652
8,435094,chepy,2,1,1,4,3,1,NaN,50,7,1.945910,1500,50,4.981570
9,417848,fait,4,3,1,4,4,2,NaN,50,8,2.079442,2950,50,3.231504

Con este nuevo código, se ejecuta "Pipeline_1_2.py" simultáneamente al pipeline 3, al terminar el pipeline 3 se ejecuta el pipeline 5 y cuando esté terminado el pipeline 3 y "Pipeline_1_2.py" comienza a ejecutarse el "pipeline_4.py", que puede ser paralelo al pipeline 5. De esta forma se optimiza más el proceso en paralelo.

# API

Teniendo el código funcional solo hace falta generar la api que permita ejecutar el código anterior a partir de una request con los datos del DataFrame original.

In [ ]:
import os
import json
import dill
import subprocess
import pandas as pd
from flask import Flask, request

with open("args.json", "r") as file:
    args = json.load(file)
df=pd.read_csv(args["dir"]+args["data"],sep = args["sep"])

app=Flask(__name__)


@app.route("/",  methods=['GET', 'POST']) #se genera la ruta de la api con las funciones "GET" y "POST"
def create(): #se define la función que se ejecutara al recibir un request
    data={
          "claim_id":request.json["claim_id"],
          "marca_vehiculo":request.json["marca_vehiculo"],
          "antiguedad_vehiculo":request.json["antiguedad_vehiculo"],
          "tipo_poliza":request.json["tipo_poliza"],
          "taller":request.json["taller"],
          "partes_a_reparar":request.json["partes_a_reparar"],
          "partes_a_reemplazar":request.json["partes_a_reemplazar"]
          }
    #se almacenan los datos recibidos en un request de formato json

    #se ejecuta el código como se vio dentro del ciclo del código anterior
    data=pd.DataFrame.from_dict(data, orient='index').transpose()
    ID=str(data["claim_id"].values[0])
    data = data.astype(dtype= {"claim_id":"int64","marca_vehiculo":"object","antiguedad_vehiculo":"int64", "tipo_poliza":"int64", "taller":"int64", "partes_a_reparar":"int64", "partes_a_reemplazar":"int64"})  
    data.to_csv(args["dir"]+"Dataframe_1_"+ID+".csv", index=False, sep = args["sep"])
    subprocess.Popen(['python', args["dir"]+'Pipeline_1_2.py', ID])
    data=dill.load(open(args["dir"]+"pipeline_3.pkl" , 'rb'))(data)
    data["marca_vehiculo_encoded"]=data["marca_vehiculo_encoded"].fillna(0).astype("int64")
    data.to_csv(args["dir"]+"Dataframe_3_"+ID+".csv", index=False, sep = args["sep"])
    subprocess.Popen(['python', args["dir"]+'Pipeline_4.py', ID])
    data=dill.load(open(args["dir"]+"pipeline_5.pkl" , 'rb'))(data)
    flag=True  
    while flag==True:
        if (os.path.exists(args["dir"]+"Dataframe_2_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_3_"+ID+".csv") and os.path.exists(args["dir"]+"Dataframe_4_"+ID+".csv")):
            flag=False


    Dataframe_4=pd.read_csv(args["dir"]+"Dataframe_4_"+ID+".csv",sep = args["sep"])
    data=data.merge(Dataframe_4, how='outer')


    if data["tipo_poliza"].values[0]!=4:
        data_modelo=data[["log_total_piezas","marca_vehiculo_encoded","valor_vehiculo", "valor_por_pieza", "antiguedad_vehiculo"]]
        model=dill.load(open(args["dir"]+"linnear_regression.pkl" , 'rb'))
        results=model.predict(data_modelo)[0]
    else:
        results=-1
    data["Semanas_en_el_taller"]=results
    if os.path.exists(args["dir"]+"Log.csv"):
        data.to_csv(args["dir"]+"Log.csv", mode="a", index=False, header=False, sep="|")
    else:
        data.to_csv(args["dir"]+"Log.csv", index=False, sep = args["sep"])
    os.remove(args["dir"]+"Dataframe_1_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_2_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_3_"+ID+".csv")
    os.remove(args["dir"]+"Dataframe_4_"+ID+".csv")
    
    
    return data.to_json(orient="index") #se entregan los resultados en formato json para ser utilizados en la API


if __name__=="__main__":
    app.run(debug=False) #se ejecuta la API

Con este código ya se encuentra activa la api y a través de Postman, Insomnia u otro programa a elección se pueden realizar los request correspondientes a través de un archivo json.